In [1]:
import pandas as pd
import os

In [2]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

In [3]:
# Replace 'your_file.txt' with the actual file path
file_path = '/home/paulc600/scratch/PRMS/03_DNRC/inputs/tmax_c.day'

In [4]:
# output path
output_folder_path = '/home/paulc600/scratch/PRMS/03_DNRC/inputs/tmax.day'

In [5]:
# Read the text file into a DataFrame, skipping the first 3 lines
skip_lines = 3
df = pd.read_csv(file_path, skiprows=skip_lines, header=None, sep='\t')

In [6]:
# Save the first 3 lines as strings
with open(file_path, 'r') as file:
    first_3_lines = [next(file) for _ in range(skip_lines)]

In [7]:
df

,0,1,2,3,4,5,6,7,8,9,...,905,906,907,908,909,910,911,912,913,914
0,1980,1,1,0,0,0,-1.7,-1.8,-2.4,-2.4,...,0.760,0.38,0.24,-0.076,0.30,0.18,0.820,0.900,0.23,0.54
1,1980,1,2,0,0,0,-2.5,-2.6,-3.1,-3.1,...,-2.600,-3.20,-4.20,-4.800,-5.10,-5.10,-5.900,-5.800,-5.20,-5.70
2,1980,1,3,0,0,0,-3.6,-3.5,-3.8,-3.8,...,-0.035,-0.96,-1.70,-2.100,-2.40,-2.40,-3.100,-3.000,-3.20,-3.70
3,1980,1,4,0,0,0,-7.5,-7.7,-8.4,-8.4,...,-7.700,-8.50,-9.10,-9.500,-9.00,-9.20,-7.800,-7.700,-5.90,-5.70
4,1980,1,5,0,0,0,-8.3,-8.4,-8.5,-8.5,...,-7.100,-7.30,-7.40,-7.600,-7.90,-7.90,-9.100,-9.200,-11.00,-11.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14240,2018,12,27,0,0,0,-8.9,-9.1,-9.4,-9.4,...,-4.300,-5.00,-6.20,-5.600,-6.70,-7.20,-7.700,-7.700,-6.70,-7.10
14241,2018,12,28,0,0,0,-10.0,-11.0,-11.0,-11.0,...,-2.800,-4.20,-6.30,-8.400,-8.40,-8.40,-8.100,-8.000,-5.40,-6.50
14242,2018,12,29,0,0,0,-2.5,-2.7,-3.1,-3.1,...,4.000,2.40,1.90,1.400,1.20,1.20,0.850,0.850,1.70,1.00
14243,2018,12,30,0,0,0,-2.0,-2.1,-2.5,-2.5,...,1.700,1.00,0.46,0.350,0.24,0.20,-0.017,0.016,0.44,0.13
14244,2018,12,31,0,0,0,-16.0,-16.0,-16.0,-16.0,...,-14.000,-14.00,-15.00,-16.000,-16.00,-16.00,-17.000,-17.000,-17.00,-18.00

In [8]:
# Apply the conversion function to all relevant columns (skip first 6 columns)
for col in df.columns[6:]:
    df[col] = df[col].apply(celsius_to_fahrenheit)

In [9]:
df

,0,1,2,3,4,5,6,7,8,9,...,905,906,907,908,909,910,911,912,913,914
0,1980,1,1,0,0,0,28.94,28.76,27.68,27.68,...,33.368,32.684,32.432,31.8632,32.540,32.324,33.4760,33.6200,32.414,32.972
1,1980,1,2,0,0,0,27.50,27.32,26.42,26.42,...,27.320,26.240,24.440,23.3600,22.820,22.820,21.3800,21.5600,22.640,21.740
2,1980,1,3,0,0,0,25.52,25.70,25.16,25.16,...,31.937,30.272,28.940,28.2200,27.680,27.680,26.4200,26.6000,26.240,25.340
3,1980,1,4,0,0,0,18.50,18.14,16.88,16.88,...,18.140,16.700,15.620,14.9000,15.800,15.440,17.9600,18.1400,21.380,21.740
4,1980,1,5,0,0,0,17.06,16.88,16.70,16.70,...,19.220,18.860,18.680,18.3200,17.780,17.780,15.6200,15.4400,12.200,12.200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14240,2018,12,27,0,0,0,15.98,15.62,15.08,15.08,...,24.260,23.000,20.840,21.9200,19.940,19.040,18.1400,18.1400,19.940,19.220
14241,2018,12,28,0,0,0,14.00,12.20,12.20,12.20,...,26.960,24.440,20.660,16.8800,16.880,16.880,17.4200,17.6000,22.280,20.300
14242,2018,12,29,0,0,0,27.50,27.14,26.42,26.42,...,39.200,36.320,35.420,34.5200,34.160,34.160,33.5300,33.5300,35.060,33.800
14243,2018,12,30,0,0,0,28.40,28.22,27.50,27.50,...,35.060,33.800,32.828,32.6300,32.432,32.360,31.9694,32.0288,32.792,32.234
14244,2018,12,31,0,0,0,3.20,3.20,3.20,3.20,...,6.800,6.800,5.000,3.2000,3.200,3.200,1.4000,1.4000,1.400,-0.400

In [10]:
# write output file
with open(output_folder_path, 'w') as output_file:
    for line in first_3_lines:
        output_file.write(line)
    df.to_csv(output_file, sep=' ', header=False, index=False, mode='a')